USE [master]
GO
/****** Object:  Database [BDPASTEL]    Script Date: 25/06/2019 19:07:05 ******/
CREATE DATABASE [BDPASTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPASTEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPASTEL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPASTEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPASTEL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPASTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPASTEL]
GO
/****** Object:  Table [dbo].[TBCLIENTE]    Script Date: 25/06/2019 19:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCLIENTE](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](30) NOT NULL,
	[endereco] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBCLIENTE] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBPEDIDOS]    Script Date: 25/06/2019 19:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPEDIDOS](
	[idPedidos] [int] IDENTITY(1,1) NOT NULL,
	[totalCompra] [float] NOT NULL,
	[dataPedido] [datetime] NOT NULL,
 CONSTRAINT [PK_TBPEDIDOS] PRIMARY KEY CLUSTERED 
(
	[idPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBPRODUTO]    Script Date: 25/06/2019 19:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPRODUTO](
	[idProduto] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](30) NOT NULL,
	[preco] [float] NOT NULL,
 CONSTRAINT [PK_TBPRODUTO] PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBCLIENTE_TBCLIENTE] FOREIGN KEY([idCliente])
REFERENCES [dbo].[TBCLIENTE] ([idCliente])
GO
ALTER TABLE [dbo].[TBCLIENTE] CHECK CONSTRAINT [FK_TBCLIENTE_TBCLIENTE]
GO
ALTER TABLE [dbo].[TBPEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_TBPEDIDOS_TBPEDIDOS] FOREIGN KEY([idPedidos])
REFERENCES [dbo].[TBPEDIDOS] ([idPedidos])
GO
ALTER TABLE [dbo].[TBPEDIDOS] CHECK CONSTRAINT [FK_TBPEDIDOS_TBPEDIDOS]
GO
ALTER TABLE [dbo].[TBPRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_TBPRODUTO_TBPEDIDOS] FOREIGN KEY([idProduto])
REFERENCES [dbo].[TBPEDIDOS] ([idPedidos])
GO
ALTER TABLE [dbo].[TBPRODUTO] CHECK CONSTRAINT [FK_TBPRODUTO_TBPEDIDOS]
GO
USE [master]
GO
